# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/

# PyInstaller
build/_pyinstaller_tmp/
build/*.spec
dist/

# Virtuelle Umgebungen
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.suo
*.user

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Projekt-Output (keine fertigen Videos committen)
*.mp4
*.avi
*.mov
*.mkv

# Logs
*.log